.price-container {
    display: flex;    
    align-content: space-around;
    margin: 4em 2em;
}

.price-card {
    flex: 1;
    padding: 2em;
    margin: 0 .25em;
    background-color: #eee;
}

    .price-card .picture {        
        width: 1em;
        height: 1em;
    }

    .price-card:hover {
        color: #fff;
        background-color: #333;
        transform: scale(1.05, 1.05);
    }

.price-value {
    font-size: 32pt;
    font-weight: bold;
    vertical-align: middle;
}

.price-support {
    font-weight: bold;
}

.price-feature {
    padding-bottom: .25em;
}

.btn-sub {    
    font-size: 1.125em;
    color: white;
    padding: 0.75em 2em;
    margin: 1em 0;
    text-transform: uppercase;
}